.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  border: solid 1px black;
  padding: 2rem;
}

.App {
  font-family: sans-serif;
}

.flag {
  width: 5rem;
}
